<div class="row">
    <div class="col-lg-6">
        <div>
            <label class="control-label">Query</label>
            <query-editor-ace value="QueryText" style="width: 400px; height:400px;"></query-editor-ace>
        </div>
        <button ng-click="Execute()" class="btn btn-default">
            <i class="fa fa-play"></i>
            Execute
        </button>
    </div>
    <div class="col-lg-6">
        <label class="control-label">Results</label>
        <query-result value="QueryResult"></query-result>
    </div>
</div>