<div class="flex-container-horizontal flex-align-top">
    <div class="header flex-full-width">
        <div class="flex-container-horizontal flex-align-bottom">
            <a class="app-title" 
               style="flex: 0 80px"
               href="https://github.com/tastott/jsoql" 
               title="JSOQL GitHub page">
                <img src="Content/Images/sock-64.png" />
            </a>
            <div>
                <ul class="nav nav-tabs flex-full-width" role="tablist">
                    <li ng-repeat="tab in Tabs" ng-class="{'active': tab == SelectedTab}">
                        <a class="btn" ng-click="SelectTab(tab)" href="">{{tab.DisplayName()}}</a>
                        <span class="fa fa-times close-button" ng-click="CloseTab(tab)" ng-show="Tabs.length > 1"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="left-menu main-panel-height">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="" ng-click="AddTab()"><i class="fa fa-plus fa-2x"></i></a></li>
            <li><a href="" file-dialog-button file-action="LoadTab"><i class="fa fa-folder-open fa-2x"></i></a></li>
            <li><a href="" ng-click="SelectedTab.SaveQuery()"><i class="fa fa-save fa-2x"></i></a></li>
            <li><a href="" ng-click="ToggleMenuPanel('Settings')"><i class="fa fa-wrench fa-2x"></i></a></li>
        </ul>
    </div>
    <div class="menu-slide-panel main-panel-height" ng-show="SelectedMenuPanel == 'Settings'">
        <label>SETTINGS</label>
        <div>
            <div themer-switcher></div>
        </div>
    </div>
    <div class="main-panel main-panel-height">
        <div class="flex-container-horizontal flex-align-top">
            <div style="flex: 1 0px" class="full-height">
                <!--<div style="height: 24px">
                    <label class="control-label">QUERY</label>
                </div>-->
                <div style="height: calc(100% - 100px)">
                    <div class="query-editor-container full-height" file-drop on-drop="OnQueryFileDrop">
                        <query-editor-ace class="full-height"
                                          query="SelectedTab.QueryText"
                                          base-directory="SelectedTab.BaseDirectory"
                                          execute="SelectedTab.Execute"></query-editor-ace>
                    </div>
                </div>
                <div style="height: 100px; padding-top:10px">
                    <div ng-show="Environment == 'Desktop'">
                        <label>BASE DIRECTORY</label>
                        <folder-input value="SelectedTab.BaseDirectory"></folder-input>
                    </div>   
                </div>
            </div>
            <div style="flex: 0 50px; text-align:center;   top: calc(50% - 25px - 50px); position: relative;">
                <button ng-show="!SelectedTab.IsExecuting()" ng-click="SelectedTab.Execute()" class="btn btn-default" style="margin-left:auto; margin-right:auto">
                    <i class="fa fa-play"></i>
                </button>
                <button ng-show="SelectedTab.IsExecuting()" ng-click="SelectedTab.Cancel()" class="btn btn-default" style="margin-left:auto; margin-right:auto">
                    <i class="fa fa-stop"></i>
                </button>
            </div>
            <div style="flex: 1 0px;" class="full-height">
                <div style="height: calc(100% - 100px)">
                    <div lazy-scroll="SelectedTab.GetMoreResults()" class="query-result-container">
                        <pretty-json ng-repeat="result in SelectedTab.QueryResults track by $index" content="result"></pretty-json>
                        <!--<i class="fa fa-cog fa-spin fa-2x" ng-show="SelectedTab.IsExecuting"></i>-->
                    </div>
                </div>
                <div style="height: 100px;padding-top:10px">
                    <div ng-show="SelectedTab.CurrentQuery != null"
                         periodic-refresh="100"
                         periodic-refresh-condition="SelectedTab.IsExecuting()"
                         style="font-size:0.8em">
                        <span>Results: {{SelectedTab.CurrentQuery.Iterator.AvailableItems() | number}}</span>
                        <span style="margin-left: 10px">Query time: {{SelectedTab.CurrentQuery.Iterator.ExecutionTime() | number:0}}ms</span>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-default" ng-click="SelectedTab.SaveResults()" ng-disabled="!SelectedTab.SaveResultsEnabled()">
                            <i class="fa fa-save"></i>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="right-menu main-panel-height">

    </div>
    <div class="footer flex-full-width">
    </div>
</div>


