
.query-result-container {
    height:100%;
    overflow-y:auto;
}

.renderjson {
    background-color: transparent;
    border:none;
    padding: 0px 10px 0px 10px;
    margin: 0;
}
.renderjson a              { text-decoration: none; }

.renderjson .disclosure    { 
    color: gray;
    font-size: 200%; 
     display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    /*font-size: inherit;*/
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

/*.renderjson .disclosure:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f0da"
}*/

.renderjson .disclosure.json-show:before {
    content: "\f0d7"
}

.renderjson .disclosure.json-hide:before {
    content: "\f0da"
}

/*.renderjson .syntax        { color: white; }
.renderjson .string        { color: #8f9d6a }
.renderjson .number        { color: #78CF8A }
.renderjson .boolean       { color: #78CF8A }
.renderjson .key           { color: #cda869 }
.renderjson .keyword       { color: #cda869}
.renderjson .object.syntax { color: white; }
.renderjson .array.syntax  { color: white; }*/


.jsoql-keyword {
    color: blue;
    font-weight: bold;
}

.query-editor-ace {
    width:100%;
    height:100%;
}

.tab-content > .tab-pane
{
    display: block;
}

.row-margin{
    margin-top: 4px;
    margin-bottom: 4px;
}

.close-button
{
    position: absolute;
    right: 4px;
    top: 4px;
    font-size:0.8em;
}

.close-button:hover
{
    color:red;
}

.app-title {
    margin-top:8px;
}

.app-title h1{
    display: inline;
    font-family: consolas;
    line-height: 64px;
    vertical-align: middle;
}

a.app-title:hover {
    text-decoration: none;
    color: #8f9d6a 
}

html, body {
    height:100%;

}
.full-height {
    height:100%
}

.flex-container-horizontal {
    display: flex; 
    flex-flow: row wrap; 
    height:100%;
}

.flex-container-vertical{
    display: flex; 
    flex-flow: column wrap; 
    width:100%;
    height:100%;
}

.flex-align-top {
    align-items: flex-start
}

.flex-align-bottom {
    align-items: flex-end
}

.flex-full-width {
    flex: 1 100%;
}

.header {
    height: 60px;    
    padding: 0;
}

.footer{
     height:16px;
}

.main-panel-height {
    height:calc(100% - 76px);
}

.main-panel {
    flex: 1 0px;
    padding: 10px;
    border-radius: 8px;
}

.left-menu {
    flex: 0 64px;
    padding-left:5px;
    padding-right:5px;
}

.right-menu {
    flex: 0 16px;
    /*padding-left:5px;
    padding-right:5px;*/
}

.menu-slide-panel {
    position: fixed; 
    width: 400px; 
    border-radius: 8px;
    z-index: 100;
    padding: 10px;

}

.main-panel-primary-content {
    height: calc(100% - 100px)
}

.main-panel-header {
    height: 24px;
}

.query-result-errors, .query-result-empty {
    padding: 20px;
}

.menu-slide-panel.ng-hide-add.ng-hide-add-active,
.menu-slide-panel.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.menu-slide-panel.ng-hide {
  width:0px;
}

.query-error{
    color: #dd0000;
  font-weight: bold;
  padding: 20px;
  text-align:center;
}